{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style ="padding:100px 0 0 0">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card-mb-4"> 
                        <img src="{{ vich_uploader_asset(product, 'imageFile')}}" alt="{{product.name}}" class = "card-img-top" width="80px" height="270px">
                        <div class ="card-body">
                            <h5 class = "card-title">{{ product.name }}</h5>
                            <p class = "card-text">{{ product.description }}</p>
                            <div class = "d-flex justify-content-between align-item-center">
                                <a href="{{ path('product.detail', {id: product.id})}}" class="btn btn-dark">View details</a>
                                <span class = "h5 mt-auto">{{ product.supplierprice }} $
                                </span>
                            
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
