{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}

<div class="container" style="padding:120px;">
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ comment.date ? comment.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ comment.description }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-dark" width="30px">
        <a href="{{ path('app_comment_index') }}" style = "text-decoration: none; color:white">Return</a>
    </button>
    <button style = "margin-right: 180px" >
        {{ include('comment/_delete_form.html.twig') }}
    </button>
</div>
{% endblock %}
