{% extends 'baseadmin.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category </h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}"><span class="material-icons">visibility</span></a>
                    </br>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"> <span class="material-icons">edit</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Nothing</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}"><span class="material-icons">add_circle</span></a>
{% endblock %}
